
<div class="container">
	<h1>Edit Image</h1>
	<%= render 'form' %>
</div>
<!-- 
<%= form_for @image do |f| %>
	<%= f.label :description %>
	<br>
	<%= f.text_field :description %>
	<br>
	<%= f.submit %>
<% end %>
 -->