<div class="container">
	<h1>Add Image</h1>

	<%= render 'form' %>
</div>
<!--  
<%= form_for :image, url: images_path do |f| %>
	<%= f.label :description %>
	<br>
	<%= f.text_field :description %>
	<br>
	<%= f.submit %>
<% end %>
-->